<ul class="nav nav-tabs">
  <li class="nav-item">
    <a 
      [routerLink]="['navigator']"
      [queryParams]="{ 'tab': '0' }"
      class="nav-link"
      aria-current="page"
      >Income</a
    >
  </li>
  <li class="nav-item">
    <a
      [routerLink]="['navigator']"
      [queryParams]="{ 'tab': '1' }"
      class="nav-link"
      aria-current="page"
      >Outcome</a
    >
  </li>
  <li class="nav-item">
    <a
      [routerLink]="['navigator']"
      [queryParams]="{ 'tab': '2' }"
      class="nav-link"
      aria-current="page"
      >Loans</a
    >
  </li>
  <li class="nav-item">
    <a
      [routerLink]="['navigator']"
      [queryParams]="{ 'tab': '3' }"
      class="nav-link"
      aria-current="page"
      >Investments</a
    >
  </li>
</ul>

