<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        [routerLink]="['/navigator']"
        [queryParams]="{ tab: '0' }"
        class="nav-link"
        [class.active]="tab == 0"
        aria-current="page"
        >Total</a
      >
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/navigator']"
        [queryParams]="{ tab: '1' }"
        class="nav-link"
        [class.active]="tab == 1"
        aria-current="page"
        >Income</a
      >
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/navigator']"
        [queryParams]="{ tab: '2' }"
        class="nav-link"
        [class.active]="tab == 2"
        aria-current="page"
        >Outcome</a
      >
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/navigator']"
        [queryParams]="{ tab: '3' }"
        class="nav-link"
        [class.active]="tab == 3"
        aria-current="page"
        >Loans</a
      >
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/navigator']"
        [queryParams]="{ tab: '4' }"
        [class.active]="tab == 4"
        class="nav-link"
        aria-current="page"
        >Investments</a
      >
    </li>
  </ul>
  <button routerLink="/" type="button" class="btn btn-outline-primary">
    Back
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Firstname and Lastname</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of json.data">
      <td *ngIf="line.type == getTypeString() || 'total' == getTypeString()">
        {{ line.name.first }} {{ line.name.last }}
      </td>
      <td *ngIf="line.type == getTypeString() || 'total' == getTypeString()">
        {{ line.amount }}
      </td>
    </tr>
  </tbody>
</table>
